<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="D:\Log\RBACPractice\"/>
      <datePattern value="yyyyMMdd'.log'"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.0" >
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
        <add extension=".htm" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms name=".AUTHASPX" loginUrl="/Html/Login/Login.html" defaultUrl="/Html/Home/Home.html" timeout="10"></forms>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="HTML" verb="*" path="*.html" type="System.Web.UI.PageHandlerFactory"/>
      <add name="HTM" verb="*" path="*.htm" type="System.Web.UI.PageHandlerFactory"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="MsSqlConnectionString" value="Data Source=127.0.0.1;Initial Catalog=RBACPracticeDB;Persist Security Info=True;User ID=sa;Password=1;"/>
  </appSettings>
  <location path="Handler/Login.ashx">
    <system.web>
      <authorization>
        <allow users="*"></allow>
      </authorization>
    </system.web>
  </location>
</configuration>

