USE [master]
GO
/****** Object:  Database [Auth]    Script Date: 2019/10/23 13:35:31 ******/
CREATE DATABASE [Auth] ON  PRIMARY 
( NAME = N'Auth', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER_2014\MSSQL\DATA\Auth.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Auth_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER_2014\MSSQL\DATA\Auth_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Auth].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Auth]
GO
/****** Object:  Table [dbo].[T_Page]    Script Date: 2019/10/23 13:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Page](
	[ID] [varchar](50) NOT NULL,
	[PageName] [varchar](50) NULL,
	[PID] [varchar](50) NULL,
	[Addr] [varchar](50) NULL,
 CONSTRAINT [PK_T_Page] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Role]    Script Date: 2019/10/23 13:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Role](
	[RoleName] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_User]    Script Date: 2019/10/23 13:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_User](
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_Page] ([ID], [PageName], [PID], [Addr]) VALUES (N'1A02243E-14F3-409D-92BE-B098054FD077', N'称重记录', N'', N'/Html/record.html')
INSERT [dbo].[T_Page] ([ID], [PageName], [PID], [Addr]) VALUES (N'1A9D1C05-4042-4749-9F64-DEAAB40CD0DA', N'统计报表', N'', N'/Html/report.html')
INSERT [dbo].[T_Page] ([ID], [PageName], [PID], [Addr]) VALUES (N'1B436164-474D-4915-BABA-6EE3A207427E', N'删除', N'3C8FB1EA-82C5-479E-845A-4162455B1C77', NULL)
INSERT [dbo].[T_Role] ([RoleName]) VALUES (N'司磅员')
INSERT [dbo].[T_Role] ([RoleName]) VALUES (N'班组长')
INSERT [dbo].[T_User] ([UserName], [Password]) VALUES (N'gaoz', N'gaoz')
INSERT [dbo].[T_User] ([UserName], [Password]) VALUES (N'qinl', N'qinl')
INSERT [dbo].[T_User] ([UserName], [Password]) VALUES (N'wubb', N'wubb')
USE [master]
GO
